@{
    ViewData["Title"] = "Home Page";
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start organizing your tasks and stay productive!</p>
    <p>Get started by creating your first to-do item.</p>
   @*  <button type="button" class="btn btn-primary"></button> *@
    <a href="/ToDoItems/Index" class="btn btn-info" >Create New To-Do Item</a>
</div>

