@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start organizing your tasks and stay productive!</p>
    <p>Get started by creating your first to-do item.</p>
   @*  <button type="button" class="btn btn-primary"></button> *@
    <a href="/ToDoItems/Items" class="btn btn-info">Create New To-Do Item</a>
</div>
