<h1>Create New To-Do Item</h1>
<form action="/ToDoItems/SaveNewInList">
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" aria-describedby="nameHelp" name="title">
        
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <input type="text" class="form-control" id="description" aria-describedby="nameHelp" name="description">

    </div>
    <div class="mb-3">
        <label for="deadline" class="form-label">Deadline:</label>
        <input type="date" class="form-control" id="deadline" aria-describedby="nameHelp" name="deadline">

    </div>


    <button type="submit" class="btn btn-info">Create</button>
</form>

